#timelines form#filter-form input[name=text], #timelines form#filter-form select {
    /* Same as bootstrap's input-block-level */
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#timelines-table {
  font-size: 95%;
}

#timelines-table th, td {
  padding: 0.66em 0.33em 0px 0.33em;
}

#timelines-table td.message {
  font-size: 85%;
  min-width: 22em;
  max-width: 22em;
}
